html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #0F161C;
  margin: 0;
  overflow: hidden;
}

#sky-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.background {
  position: absolute;
  overflow: hidden;
  background: url(6d89c3aa536bf4f8f42aa84607840edb.png);
  width: 600%;
  height: 600%;
  left: -300%;
  bottom: -300%;
  transform-origin: calc(50% + 50vw) calc(50% - 300px);
}

#futureBackground {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  background:
  -webkit-linear-gradient(315deg, hsla(38.1, 91.96%, 42.15%, 1) 0%, hsla(38.1, 91.96%, 42.15%, 0) 70%),
  -webkit-linear-gradient(65deg, hsla(47.69, 96.52%, 47.96%, 1) 10%, hsla(47.69, 96.52%, 47.96%, 0) 80%),
  -webkit-linear-gradient(135deg, hsla(250.28, 99.14%, 44.95%, 1) 15%, hsla(250.28, 99.14%, 44.95%, 0) 80%),
  -webkit-linear-gradient(205deg, hsla(4.21, 92.86%, 42.68%, 1) 100%, hsla(4.21, 92.86%, 42.68%, 0) 70%);
  background:
  linear-gradient(135deg, hsla(38.1, 91.96%, 42.15%, 1) 0%, hsla(38.1, 91.96%, 42.15%, 0) 70%),
  linear-gradient(25deg, hsla(47.69, 96.52%, 47.96%, 1) 10%, hsla(47.69, 96.52%, 47.96%, 0) 80%),
  linear-gradient(315deg, hsla(250.28, 99.14%, 44.95%, 1) 15%, hsla(250.28, 99.14%, 44.95%, 0) 80%),
  linear-gradient(245deg, hsla(4.21, 92.86%, 42.68%, 1) 100%, hsla(4.21, 92.86%, 42.68%, 0) 70%);
}

#actionsContainer {
  height: 90px;
  width: 90%;
  position: fixed;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  font-family: helvetica;
  font-weight: 400;
  color: #fff;
}

#yearSelector {
  display: inline-block;
  border: none;
  border-bottom: 1px solid white;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 3px 3px 0 0;
  height: 40px;
  margin-top: 32px;
  text-align: center;
  width: 80px;
  color: #fff;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s;
}

#yearSelector:focus {
  outline: none;
  border-bottom: 2px solid white;
  background-color: transparent;
}

#textSpan {
  vertical-align: -webkit-baseline-middle;
  line-height: normal;
  display: inherit;
  margin-top: 32px;
  width: 100%
}

#touchAreaLeft {
  height: 100%;
  width: 50%;
  background-color: transparent;
  display: inline-block;
  position: fixed;
  top: 0;
}

#touchAreaRight {
  height: 100%;
  width: 50%;
  background-color: transparent;
  display: inline-block;
  position: fixed;
  right: 0;
  top: 0;
}

#yearChangeBlender {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0F161C;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s opacity;
}

#asteroidContainer {
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s opacity;
}

#planetFront {
  width: 450px;
  height: 450px;
  transform-origin: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
  background: url(6ce5df4cdcfe93d36f93722a7645c5fb.png) 0 0 no-repeat;
}

#planetBack {
  width: 450px;
  height: 450px;
  transform-origin: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
  background: url(c663a5f9f0d00858c19de5d37f0b9e63.png) 0 0 no-repeat;
  text-align: center;
}

#dynamicCanvas {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  transition: 0.3s opacity;
}

#player {
  position: fixed;
  left: 50%;
  top: 177px;
  transform: translateX(-50%);
}

.actionNotification {
  height: 50px;
  width: 50px;
  position: fixed;
  left: 50%;
  top: 125px;
  transform: translateX(-50%);
  z-index: 2;
}

#talk {
  background: url(b7599b731e04ca90f73a4a0ed0ea076a.png);
}

#act {
  background: url(9e110eb2424670013e502f7a4d18ba2a.png);
}

#titleWrapper {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#title {
  font-size: 150px;
  font-family: impact;
  font-weight: 900;
  color: #fff;
  text-align: center;
  padding-top: 180px;
  text-decoration: underline;
}

#undertitle {
  font-size: 49.8px;
  font-family: impact;
  font-weight: 900;
  color: #fff;
  text-align: center;
  margin-top: -12PX;
}

@media (max-width:375px) {
  #title {
    font-size: 100px;
  }

  #undertitle {
    font-size: 33px;
    margin-top: -6PX;
  }
}

#startButton {
  font-size: 24px;
  font-weight: 100;
  font-family: helvetica;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  margin: auto;
  width: 300px;
  height: 20px;
  cursor: pointer;
}

#instructions {
  visibility: hidden;
  font-size: 24px;
  font-family: helvetica;
  font-weight: 100;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 300px;
  left: 0;
  right: 0;
  opacity: 1;
  transition: 0.8s opacity;
}

#endText {
  position: absolute;
  left: 0;
  right: 0;
  top: 42%;
  font-size: 60px;
  font-family: impact;
  font-weight: 900;
  color: #fff;
}

#credits {
  font-size: 14px;
  font-family: helvetica;
  font-weight: 100;
  color: #fff;
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
}

