html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #293249;
  margin: 0;
  overflow: hidden;
}

#sky-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#background {
  position: absolute;
  overflow: hidden;
  background: url(6d89c3aa536bf4f8f42aa84607840edb.png);
  width: 600%;
  height: 600%;
  left: -300%;
  bottom: -300%;
  z-index: -1;
  transform-origin: calc(50% + 50vw) calc(50% - 300px);
}

#touchAreaLeft {
  height: 100%;
  width: 50%;
  background-color: transparent;
  display: inline-block;
  position: fixed;
}

#touchAreaRight {
  height: 100%;
  width: 50%;
  background-color: transparent;
  display: inline-block;
  position: fixed;
  right: 0;
}

#planetFront {
  width: 450px;
  height: 450px;
  transform-origin: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
  background: url(cb24da91a07d42eb5d315487dee16f52.png) 0 0 no-repeat;
  display: none;
}

#planetBack {
  width: 450px;
  height: 450px;
  transform-origin: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
  background: url(06d9035c117ad9d0ed3b829f37bdc098.png) 0 0 no-repeat;
  display: none;
}

#player {
  position: fixed;
  left: 50%;
  top: 177px;
  transform: translateX(-50%);
  display: none;
}

.actionNotification {
  height: 50px;
  width: 50px;
  position: fixed;
  left: 50%;
  top: 125px;
  transform: translateX(-50%);
  z-index: 2;
}

#talk {
  background: url(b7599b731e04ca90f73a4a0ed0ea076a.png);
}

#act {
  background: url(9e110eb2424670013e502f7a4d18ba2a.png);
}

#textBox {
  height: 90px;
  width: 500px;
  position: fixed;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  font-family: helvetica;
  font-weight: 400;
  color: #fff;
}

#textSpan {
  vertical-align: -webkit-baseline-middle;
  line-height: normal;
}

#titleWrapper {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#title {
  font-size: 150px;
  font-family: impact;
  font-weight: 900;
  color: #fff;
  text-align: center;
  padding-top: 180px;
  text-decoration: underline;
}

#undertitle {
  font-size: 49.8px;
  font-family: impact;
  font-weight: 900;
  color: #fff;
  text-align: center;
  margin-top: -12PX;
}

@media (max-width:375px) {
  #title {
    font-size: 100px;
  }

  #undertitle {
    font-size: 33px;
    margin-top: -6PX;
  }
}

#startButton {
  font-size: 24px;
  font-weight: 100;
  font-family: helvetica;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  margin: auto;
  width: 300px;
  height: 20px;
  cursor: pointer;
}

#instructions {
  font-size: 24px;
  font-family: helvetica;
  font-weight: 100;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 300px;
  left: 0;
  right: 0;
  opacity: 1;
  transition: 0.8s opacity;
}

